<!DOCTYPE html>
<html>
<head>
<title>Calculadora</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="calculadora">

<input type="text" id="display" >

<div class="botoes">

<button onclick="add('7')">7</button>
<button onclick="add('8')">8</button>
<button onclick="add('9')">9</button>
<button onclick="add('/')">÷</button>

<button onclick="add('4')">4</button>
<button onclick="add('5')">5</button>
<button onclick="add('6')">6</button>
<button onclick="add('*')">×</button>

<button onclick="add('1')">1</button>
<button onclick="add('2')">2</button>
<button onclick="add('3')">3</button>
<button onclick="add('-')">-</button>

<button onclick="add('0')">0</button>
<button onclick="clearDisplay()">C</button>
<button onclick="backspace()">⌫</button>
<button onclick="add('+')">+</button>

<button class="igual" onclick="calcular()">=</button>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
